@charset "utf-8";
/* CSS Document */
/*
Developer ARE Visual (Andrew R Emery)
	Email:andrew@arevisual.com
Art Director/Designer: Jehan Said
	Email:jehankjsaid@gmail.com
Date Created: 1/29/16
Last Edited 4/24/19
Written for: Future of health technology summit
Swatch
===========================
background-color: rgba(230,230,230,1.00); 
rgba(222,71,40,1.00);
background-color: rgba(0,64,128,1.00);

===========================
TOC
===========================*
Global
header
hompage
footer
/*============Global==============*/
html,body{
  margin:0;
  padding:0;
   height:100%;
   width:100%;
 }
*{
  	font-family: "proxima-nova",sans-serif;
	z-index: 1;
	text-align: center;

}
a{
	color:rgba(222,71,40,1.00);
}
body{
	background-color: rgba(230,230,230,1.00);
	font-size: 20px;
	width: 100%;
}
/*=============Header=============*/
header{
	background-color: rgba(0,64,128,1.00);
	text-align: left;
}
header *{
	text-align: left;
}
header nav{
	text-align: center;
}
hgroup{
	color: white;
	margin-left: 10em;
	display: inline-block;
}
hgroup h1{
	font-size: 2.5em;
}
h2{
	text-align: center;
	width: 100%;
}
hgroup h3{
	font-size: 1em;
	font-style: italic;
	font-weight: lighter;
}
h3,h4{
	color:rgba(222,71,40,1.00);
}
header h3{
	color: rgba(255,255,255,1.00);
	margin-top: 0;
}
header .learnMoreButton{
	padding: 8px;
	float: right;
	margin: .5em;
	margin-top: 1.7em;
	/*width: 7%;*/
	/*height: 45px;*/
	font-size: .75em;
	text-align: center;
}
#programButton{
	padding: 8px;
	float: right;
	margin: .5em;
	margin-top: 2em;
	/*width: 7%;*/
	/*height: 45px;*/
	border-radius: 20px;
	border:0.15em solid rgba(255,255,255,1.00);
	background-color: rgba(145,166,195,.30);
	-webkit-transition: color 300ms, background 500ms, border-color 300ms;
	transition: color 300ms, background 500ms, border-color 300ms;
	font-size: .75em;
}
#programButton:hover{
	background-color: rgba(145,166,195,1.00);
}
#navIcon{
	float: right;
	font-size: 2em;
	margin: .75em;
	color: #ffffff;
}
nav{
	margin: 1% 0;
	font-size: 2em;
}
nav li{
	padding: .5em;
	text-align: center;
	list-style: none;
}
nav a{
	color: white;
	text-decoration: none;
}
nav a:hover{
	color: white;
}
nav a:active{
	color: rgba(222,71,40,1.00);
}
#logo{
	position: absolute;
	top: 0;
	margin: .75em 0 0 .25em;
}
/*===========Homepage===============*/
#location{
   margin-left:20px;
   	background-color: rgba(37,64,142,1.00);
	color:rgba(250,250,250,1.00);
	margin: .5em 0;
	font-size: 2em;
	font-weight: lighter;
	padding: .5em;
}
#location hgroup{
	margin-left: 0;
	color:rgba(255,255,255,1.00);
}
#location h3{
	color:rgba(255,255,255,1.00);
	font-size: .7em;
}
#location h4{
	color:rgba(255,255,255,1.00);
}
.borderdb-o{
	left: 0;
	position: absolute;
	width: 100%;
	height: 90px;
	background-image:url(../_img/fhti_Triangle_DB-O.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	z-index:999999;
}
#speakers{
	padding-top: 60px;
}
#speakers ul{
	list-style: none;
}
.slider-arrow{
	color: rgba(0,0,0,1.00);
	font-size: 1.5em;
	margin: 1em;
}
#fhti{
	padding-top: 60px;
	background-color: rgba(145,166,195,.50);
	margin-top: 1.8em;
	padding-bottom: 2em;
}
.learnMoreButton{
	background-color:transparent;
	border-radius: 20px;
	font-size: 1em;
	color:rgba(222,71,40,1.00);
	text-decoration:none;
	text-rendering:optimizeLegibility;
	border:0.15em solid rgba(222,71,40,1.00);
	padding:0.4em 0.6em;
	-webkit-transition: color 300ms, background 500ms, border-color 700ms;
	transition: color 300ms, background 500ms, border-color 700ms;
}
.learnMoreButton:hover{
	background:rgba(222,71,40,1.00);
	border-color:rgba(222,71,40,1.00);
	color:#fff;
}
#award{
	padding-top: 60px;
}
#videos{
	margin-top: 50px;
	background-color: rgba(145,166,195,.50);
	padding: 2em;
}
#misson{
	padding-top: 70px;
}
#topics{
	width: 100%;
	padding-top: 60px;
	margin-top: 20px;
	background-color: rgba(145,166,195,.50);
}
#location h2{
	font-weight: bold;
}
#homePageHero{
	height: 1200px;
	width: 100%;
	background-image: url(../_img/futureOfHealthTechnologyWorldHealthStrategyBanner.jpg);
	background-size: cover;
  background-position: center;
	z-index: -1;
}
form{
	padding: 1em;
}
.centerParagraphs{
	padding:0 25%;
	line-height: 2em;
}
#topics{
	font-size: 1.2em;
	display: inline-block;
}
.coloredTopics{
	color: rgba(100,100,100,1.00);
}
hr{
	border: 0;
  height: 3px;
	background: #333;		
	width: 60%;
}
#topics li{
	text-align: left;
	text-decoration: none;
	list-style-type:none;
	padding: .5em;
}
#spreadTheWord{
	background-image: url(../_img/dna.jpg);
	background-size: cover;
	opacity: .75;
	color:rgba(248,248,248,1.00);
}
#spreadTheWord h2{
	padding: .5em;
}
#spreadTheWord i{
	font-size: 2.1em;
}
/**/
#pegasus{
	background-color: rgba(60,60,60,1.00);
	color: rgba(251,251,251,1.00);
	text-align: center;
	height: 300px;
	padding: 1em;
}
#pegasus p{
	font-size: 1.5em;
	line-height: 1.25em;
	font-weight: 25;
	font-style: italic;
}
#pegasus img{
	float: left;
	height: 100%;
}
#pegasus section{
	width: 50%;
	float: right;
}
#pegText{
	width: 50%;
	float: right;
	text-align: left;
	line-height: 2em;
	padding: 0px 3em 0px 0px;
}
#pegText p{
	text-align: left;
}
#pegImg{
	width: 50%;
	float: left;
}
#book{
	height: 200px;
}
/**/
#aboutHero{
	height: 600px;
	width: 100%;
	background-image:url(../_img/aboutHero.jpg);
	background-size: cover;
	margin-bottom: 2em;
	z-index: -1;
}
#aboutRenataHero{
  height: 600px;
	width: 100%;
	background-image:url(../_img/renataBushkoAtThe20thFutureOfHealthTechnologySummit.jpg);
	background-size: cover;
  padding: 1em;
	margin-bottom: 2em;
  background-position: center;
	z-index: -1;
}
#aboutRight{
	width: 45%;
  padding: 0 3%;
	float: right;
	text-align: left;
	line-height: 2em;
}
#aboutRight *{
	text-align: left;
}
#aboutRight hr{
	background-color: rgba(222,71,40,1.00);
	height: 6px;
	width: 25px;
}
#aboutRight h2{
	color: rgba(222,71,40,1.00);
}
#aboutRight h3{
	color: rgba(31,31,31,1.00);
}
#aboutLeft{
	width: 40%;
	float: left;
}
#aboutLeft h4{
	color: rgba(31,31,31,1.00);
}
/*===========Footer===============*/
footer{
	clear: both;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 900px;
	background-color: rgba(0,64,128,1.00);
	padding: 1em;
}
.footerIcon{
	opacity:.9;
}
.footerIcon:hover{
	opacity:1;
}
#sponsors{
	background-color: rgba(230,230,230,1.00);
	padding: 1em;
}
#sponsors h4{
	font-weight: bold;
}
#sponsors li{
	display: inline;
	list-style: none;
}
.modal{
	margin-top: 10%;
}
#close{
	position:fixed;
	font-size: 3em;
	float: right;
	background-color: transparent;
	top: 0;
	right: 0;
	padding-right: .5em;
}
.btn{
	border: none;
}
@media (max-width: 1490px){
	hgroup h1{
		font-size: 1.6em;
	}
	 header .learnMoreButton {
		float: none;
	 	clear: both;
		width: 98%;
	}
	header #programButton {
		float: none;
	 	clear: both;
		width: 98%;
	}
}
@media (max-width: 1000px){
	hgroup{
		margin-left: 8em;
	}
	hgroup h1{
		font-size: 1.5em;
	}
	hgroup h3{
		font-size: .7em;
	}
}
@media (orientation:portrait){
	#homePageHero{
		height: 25em;
    background-image: url(../_img/futureOfHealthTechnologyWorldHealthStrategyMobileBanner.jpg);
	}
	#aboutHero{
		height: 15em;
	}
	.centerParagraphs{
		padding: 0 .25em;
	}
	header{
		padding-bottom: 60px;
	}
	header img{
		height: 40px;
		width: 40px;
	}
	hgroup{
		margin-left: 60px;
	}
	hgroup h1{
		font-size: .8em;
	}
	hgroup h3{
		font-size: .4em;
	}
 header .learnMoreButton {
		float: none;
	 	clear: both;
		width: 98%;
	}
	header #programButton {
		float: none;
	 	clear: both;
		width: 98%;
	}
	#navIcon{
		font-size: 1.2em;
	}
	nav li{
		font-size: .75em;
	}
	#fhti{
		margin-top: -22em;
		padding-top: 85px;
	}
	hr{
		visibility: hidden;
	}
	#aboutLeft, #aboutRight{
		float: none;
		width: 100%;
		padding: 1.2em;
	}
	#pegImg, #pegText{
		float: none;
		width: 100%;
		padding: 1em;
}
#pegasus{
	background-color:transparent;
	height: 0;
}
#pegasus img{
	visibility:hidden;
	display: inline;
}
#pegasus p, h2{
	color: rgba(21,9,0,.80);
}
#pegasus section{
	width: 100%;
}
#liCircle{
	width: 250px;
	height:250px;
}

 header .learnMoreButton {
		float: none;
	 	clear: both;
		width: 98%;
	}
}

/*==================================================CHARLSE OLD STYLES=============================================*/
/*========== CSS Document ==============*/
body{
	font-family:"proxima-nova", sans-serif;
	line-height:1.5em;
	z-index:0
}

/*======= Past Award Winners =========*/
.content{
	width:100%;
	z-index:0;
}

.winnerSection{
	width:100%;
	height:auto;
	background-color:#C0D1E1;
	float:left;		
}
.winnerSection:nth-child(0){
	background-color:white;
}
	
.winnerSection:nth-child(even){
	background-color:white;	
}

/*.borderImg{
	width:100%;
	background-image:url(../_img/FHTI_Triangle_DB-O.png);
	height:45px;
	z-index:1;
	position:relative;
	top:-15px;
}*/
.borderdb-oPast{
	left: 0;
	position: absolute;
	width: 100%;
	height: 90px;
	background-image:url(../_img/fhti_Triangle_DB-O.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	z-index:999999;
	margin-top: -55px;
}
.winnerSectionLeftCol{
	float:left;
	width:20%;
	display:block;
	height:inherit;
}

.winnerSectionLeftCol img {
    position: relative;
	width:180px;
	height:180px;
	border-radius:100%;
	border:#BB4025 medium solid;
	margin-top:15%;
	margin-left:50%;
	text-align:center;
} 


.winnerSectionLeftCol h3{
	color:#F7933D;
	width:100%;
	margin-left:30%;
	text-align:center;
}

.winnerSectionLeftCol h4{
	width:100%;
	margin-left:30%;
	text-align:center;
	
}


.winnerSectionRightCol{
	float:right;
	width:75%;
	height:inherit;
	display:block;
	position:relative;
}

.winnerSectionRightCol p{
	font-size:.8em;
	height:inherit;
	width:66%;
	margin:0px auto;
	padding:5%;
}

/*======= Memorial ==========*/
.hero{
	height: 600px;
	width:inherit;
	background-image:url(../_img/minskyBushko.jpg);
	background-size:cover;
	z-index: -1;
}
.hero img{
	width:inherit;
}

#heroBlock{
	width:100%;
	height:inherit;
	background-color:#B73E25;
	padding:2%;
}

#heroBlock h1{
	font-size:1.5em;
	color:white;
	text-align:center;
	font-weight:bold;
	
}

#blurb{
	width:inherit;
	background-color:#E3E0E1;
}

#memorialLeftCol{
	width:45%;
	float:left;
}
#memorialLeftCol p{
	margin:5%;
	
}
#memorialRightCol{
	width:45%;
	padding:5%;
	float:right;
}

#memorialRightCol div{
	background-color:#C0D1E1;
	height:auto;
	font-variant:small-caps;
	padding:5%;
}

#stayConnected{
	width:100%;
	background-color:black;
}

#stayConnected div{
	height:100px;
}

/*===========Media Queries============*/
@media all and (orientation:portrait){
	.winnerSection .borderImg{
		width:inherit;
	}
	.winnerSectionLeftCol{
		width:inherit;
		float:left;
	}
	
	.winnerSectionLeftCol img{
		width:50%;
		height:50%;
		margin-left:25%;
	}
	
	.winnerSectionLeftCol h3{
		margin:0px;
		text-align:center;
	}
	
	.winnerSectionLeftCol h4{
		margin:0px;
		text-align:center;
	}
	
	.winnerSectionRightCol {
		width:inherit;
		float:left;
		
	}
	/*==========memorial page===========*/
	.hero{
	height:200px;
	width:inherit;
	background-image:url(../_img/MinskyBushko.jpg);
	background-size:cover;
	z-index:-1;
}
	#blurb{
		width:inherit;
		padding:0%;
		
	}
	
	#heroBlock{
		width:97%;
		margin-bottom:0px;
	}
	
	#heroBlock h1{
		padding:none;
		margin:0px;
		font-size:1em;
	}
	
	#memorialLeftCol{
		float:left;
		width:inherit;
		padding:.5%;
	}
	
	#memorialLeftCol p{
		padding:none;
	}
	
	#memorialRightCol{
		float:left;
		width:100%;
		padding:0%;
	}
	
	#memorialRightCol p{
		font-size:.8em;
	}
	
	#memorialRightCol div{
		width:90%;
		height:auto;
		padding:.3%;
		margin:0px auto;
		
		
	}
	
	#memorialRightCol p{
		padding:0%;
	}
}